<h1>About</h1>
<p>I am a fullstack developer, specializing in React.JS and Redux on frontend side and in Ruby on Rails on backend side.</p>
<p>My development pattern is focused on communication. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>
