<div class='app-card-container'>
  <div class='card'>
    <h1>Let's work together.</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>
        
        <p>Leninsky prospect, 30A</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "89152239821" %></p>

        <h3>Email</h3>

        <p><a href="mailto:linakirsanova@gmail.com?subject=job" "email me">linakirsanova@gmail.com</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.692080804073!2d37.579290715481136!3d55.71172390262754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b7bbb069105%3A0x31bdd27712ec384b!2z0KDQsNCx0L7Rh9Cw0Y8g0KHRgtCw0L3RhtC40Y8!5e0!3m2!1sru!2sru!4v1524840838223" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

